
@media screen and (max-width: 910px){
   
    header > nav > ul {
        display: none;
        flex-direction: column; 
        margin: 0;
        background-color: var(--destaque);
        
    }
    
    header > nav > ul > li {
        padding-top: 15px;
        padding-bottom: 10px;
        margin: 0;
        
        display: block;
        
    }
    nav > ul > li > a::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        
        background-color: black;
        transition: width .3s;
    }
    nav > ul > li > a:hover::after {
        width: 100%;
        transition: width .4s;
    }
    header {
        background: #343434;
    }
   
    header span.material-symbols-outlined {
        display: block;
        cursor: pointer;
        color: #fff;
        background-color: var(--destaque);
        
        padding: 10px;
    }
    header span.material-symbols-outlined:hover {
        background-color: rgb(48, 48, 255);
    }

    body {
        display: grid;
        grid-template-rows: 0.4fr 0.4fr 0.8fr 0.2fr;  
        grid-template-columns: 1fr;
        grid-template-areas: 'header '
                                'main '
                                    'aside '
                                        'footer';    
       
        background-color: rgb(34, 34, 34);
    }

    main {
        margin-bottom: 10rem;
        padding: 10px;
    }
    div#projetos > div.proj01 {
        margin-top: 20rem;
    }
    div#projetos > div.proj01 , div#projetos > div.proj02  {
        width: fit-content;
    }
   
    div.container-content {
        display: flex;
        flex-direction: row;
        gap: 10rem;
    }
    div.container-content p {
        width: 400px;
    }
     
    label > input {
        width: 300px;
        
    }
    .wrapper .static {
        position: absolute;
        top: 40%;
    }
    .wrapper .dynamic {
        margin-left: 0;  
        position: absolute;
        top:70%;
        overflow: hidden;
        max-height: 4vh;
        
       
    }
    .wrapper .dynamic li {
        top: -9px;
    }
    .wrapper {
        flex-direction: column;
        width: min-content;
    }
    @keyframes slide {
        100% {
            top: -120px;
        }
    }
    
    
    
}
